@page "/form_list"
@using Sample.ViewModels
@using Sample.Services
@inject FormService FormService
@inject NavigationManager NavManager
<PageTitle>Form List</PageTitle>

<h1>Form List</h1>



@if (listForm == null)

{
  <p><em>Loading...</em></p>
}

else

{
  <div class="col button-top">
    <a href="" onclick="@CreateNewForm" class="btn btn-success">+ Create New</a>
  </div>
  <table class="table">
    <thead>
      <tr >
        <th>Date</th>
        <th>Last Edited</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var form in listForm)

      {
        <tr @onclick="(()=>OnClickRowForm(form.Id))">
          <td>@form.CreatedAt</td>
          <td>@form.LastEdited</td>
          <td>@form.Title</td>
          <td>@form.FormStatus</td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  private List<FormViewModel>? listForm;



  protected override async Task OnInitializedAsync()

  {

    listForm = await FormService.GetListForm();

  }

  private async Task CreateNewForm()

  {

    var form = await FormService.CreateForm(new ViewModels.FormViewModel() { Title = "Health Risk Assessment" });
    NavManager.NavigateTo($"/formcreate/{form.Id}");
  }
  private void OnClickRowForm(string formId){
    NavManager.NavigateTo($"/formcreate/{formId}");
  }
}
